In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import statsmodels.formula.api as smf

In [35]:
df = pd.read_excel('limite_cr√©dito_escolaridade.xlsx')
df.head()

,Idade,RendimentoTotal,Salario,LimitedeCreditoImediato,LimitedoChequeEspecial,Escolaridade
0,70,10736,5214,400,500,Fundamental_Medio
1,68,5000,5000,380,600,Fundamental_Medio
2,44,5800,5800,500,800,Fundamental_Medio
3,72,4300,4300,2000,1000,Fundamental_Medio
4,75,4400,4400,3000,1000,Fundamental_Medio

In [36]:
df = pd.get_dummies(df, prefix=['Escolaridade'])
df.head()

,Idade,RendimentoTotal,Salario,LimitedeCreditoImediato,LimitedoChequeEspecial,Escolaridade_Fundamental_Medio,Escolaridade_Superior_Pos
0,70,10736,5214,400,500,True,False
1,68,5000,5000,380,600,True,False
2,44,5800,5800,500,800,True,False
3,72,4300,4300,2000,1000,True,False
4,75,4400,4400,3000,1000,True,False

In [37]:
df.corr()

,Idade,RendimentoTotal,Salario,LimitedeCreditoImediato,LimitedoChequeEspecial,Escolaridade_Fundamental_Medio,Escolaridade_Superior_Pos
Idade,1.000000,0.066396,0.063227,0.064149,0.075883,-0.110892,0.110892
RendimentoTotal,0.066396,1.000000,0.960551,0.031041,0.858120,-0.396191,0.396191
Salario,0.063227,0.960551,1.000000,0.081792,0.888839,-0.475479,0.475479
LimitedeCreditoImediato,0.064149,0.031041,0.081792,1.000000,0.226990,-0.259433,0.259433
LimitedoChequeEspecial,0.075883,0.858120,0.888839,0.226990,1.000000,-0.598310,0.598310
Escolaridade_Fundamental_Medio,-0.110892,-0.396191,-0.475479,-0.259433,-0.598310,1.000000,-1.000000
Escolaridade_Superior_Pos,0.110892,0.396191,0.475479,0.259433,0.598310,-1.000000,1.000000

In [38]:
df.columns

Index(['Idade', 'RendimentoTotal', 'Salario', 'LimitedeCreditoImediato',
       'LimitedoChequeEspecial', 'Escolaridade_Fundamental_Medio',
       'Escolaridade_Superior_Pos'],
      dtype='object')

In [39]:
function = 'LimitedoChequeEspecial~Idade+RendimentoTotal+Salario+LimitedeCreditoImediato+Escolaridade_Fundamental_Medio+Escolaridade_Superior_Pos'
model = smf.ols(formula=function, data=df).fit()
print(model.summary())

                              OLS Regression Results
==================================================================================
Dep. Variable:     LimitedoChequeEspecial   R-squared:                       0.848
Model:                                OLS   Adj. R-squared:                  0.830
Method:                     Least Squares   F-statistic:                     46.89
Date:                    Sat, 08 Jun 2024   Prob (F-statistic):           4.07e-16
Time:                            11:42:24   Log-Likelihood:                -441.00
No. Observations:                      48   AIC:                             894.0
Df Residuals:                          42   BIC:                             905.2
Df Model:                               5
Covariance Type:                nonrobust
==========================================================================================================
                                             coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------------------
Intercept                               -509.4948   1248.421     -0.408      0.685   -3028.910    2009.920
Escolaridade_Fundamental_Medio[T.True] -1611.3283    619.903     -2.599      0.013   -2862.343    -360.313
Escolaridade_Superior_Pos[T.True]       1101.8335    899.444      1.225      0.227    -713.319    2916.986
Idade                                     -2.7480     24.707     -0.111      0.912     -52.608      47.112
RendimentoTotal                            0.1461      0.109      1.338      0.188      -0.074       0.366
Salario                                    0.3201      0.154      2.079      0.044       0.009       0.631
LimitedeCreditoImediato                    0.7979      0.411      1.943      0.059      -0.031       1.627
==============================================================================
Omnibus:                        3.246   Durbin-Watson:                   1.979
Prob(Omnibus):                  0.197   Jarque-Bera (JB):                2.813
Skew:                           0.031   Prob(JB):                        0.245
Kurtosis:                       4.184   Cond. No.                     2.27e+17
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 4.67e-25. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [40]:
function = 'LimitedoChequeEspecial~RendimentoTotal+Salario+LimitedeCreditoImediato+Escolaridade_Fundamental_Medio+Escolaridade_Superior_Pos'
model = smf.ols(formula=function, data=df).fit()
print(model.summary())

                              OLS Regression Results
==================================================================================
Dep. Variable:     LimitedoChequeEspecial   R-squared:                       0.848
Model:                                OLS   Adj. R-squared:                  0.834
Method:                     Least Squares   F-statistic:                     59.99
Date:                    Sat, 08 Jun 2024   Prob (F-statistic):           4.92e-17
Time:                            11:42:33   Log-Likelihood:                -441.01
No. Observations:                      48   AIC:                             892.0
Df Residuals:                          43   BIC:                             901.4
Df Model:                               4
Covariance Type:                nonrobust
==========================================================================================================
                                             coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------------------
Intercept                               -619.3788    754.395     -0.821      0.416   -2140.761     902.003
Escolaridade_Fundamental_Medio[T.True] -1661.7862    417.576     -3.980      0.000   -2503.908    -819.664
Escolaridade_Superior_Pos[T.True]       1042.4074    715.195      1.458      0.152    -399.921    2484.736
RendimentoTotal                            0.1455      0.108      1.350      0.184      -0.072       0.363
Salario                                    0.3208      0.152      2.110      0.041       0.014       0.627
LimitedeCreditoImediato                    0.7960      0.406      1.962      0.056      -0.022       1.614
==============================================================================
Omnibus:                        3.276   Durbin-Watson:                   1.991
Prob(Omnibus):                  0.194   Jarque-Bera (JB):                2.867
Skew:                           0.016   Prob(JB):                        0.238
Kurtosis:                       4.197   Cond. No.                     2.34e+17
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 4.4e-25. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [41]:
function = 'LimitedoChequeEspecial~Salario+LimitedeCreditoImediato+Escolaridade_Fundamental_Medio+Escolaridade_Superior_Pos'
model = smf.ols(formula=function, data=df).fit()
print(model.summary())

                              OLS Regression Results
==================================================================================
Dep. Variable:     LimitedoChequeEspecial   R-squared:                       0.842
Model:                                OLS   Adj. R-squared:                  0.831
Method:                     Least Squares   F-statistic:                     77.92
Date:                    Sat, 08 Jun 2024   Prob (F-statistic):           1.23e-17
Time:                            11:42:40   Log-Likelihood:                -442.00
No. Observations:                      48   AIC:                             892.0
Df Residuals:                          44   BIC:                             899.5
Df Model:                               3
Covariance Type:                nonrobust
==========================================================================================================
                                             coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------------------
Intercept                               -732.7429    756.679     -0.968      0.338   -2257.729     792.243
Escolaridade_Fundamental_Medio[T.True] -1588.9169    417.923     -3.802      0.000   -2431.186    -746.648
Escolaridade_Superior_Pos[T.True]        856.1741    708.290      1.209      0.233    -571.291    2283.639
Salario                                    0.5171      0.045     11.524      0.000       0.427       0.607
LimitedeCreditoImediato                    0.7322      0.407      1.801      0.079      -0.087       1.552
==============================================================================
Omnibus:                        2.831   Durbin-Watson:                   1.957
Prob(Omnibus):                  0.243   Jarque-Bera (JB):                1.912
Skew:                           0.257   Prob(JB):                        0.384
Kurtosis:                       3.831   Cond. No.                     2.47e+18
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.57e-27. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [42]:
function = 'LimitedoChequeEspecial~Salario+LimitedeCreditoImediato+Escolaridade_Fundamental_Medio'
model = smf.ols(formula=function, data=df).fit()
print(model.summary())

                              OLS Regression Results
==================================================================================
Dep. Variable:     LimitedoChequeEspecial   R-squared:                       0.842
Model:                                OLS   Adj. R-squared:                  0.831
Method:                     Least Squares   F-statistic:                     77.92
Date:                    Sat, 08 Jun 2024   Prob (F-statistic):           1.23e-17
Time:                            11:42:53   Log-Likelihood:                -442.00
No. Observations:                      48   AIC:                             892.0
Df Residuals:                          44   BIC:                             899.5
Df Model:                               3
Covariance Type:                nonrobust
==========================================================================================================
                                             coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------------------
Intercept                                123.4312   1404.926      0.088      0.930   -2708.011    2954.873
Escolaridade_Fundamental_Medio[T.True] -2445.0910    883.237     -2.768      0.008   -4225.137    -665.045
Salario                                    0.5171      0.045     11.524      0.000       0.427       0.607
LimitedeCreditoImediato                    0.7322      0.407      1.801      0.079      -0.087       1.552
==============================================================================
Omnibus:                        2.831   Durbin-Watson:                   1.957
Prob(Omnibus):                  0.243   Jarque-Bera (JB):                1.912
Skew:                           0.257   Prob(JB):                        0.384
Kurtosis:                       3.831   Cond. No.                     6.05e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 6.05e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [48]:
function = 'LimitedoChequeEspecial~Salario+LimitedeCreditoImediato+Escolaridade_Fundamental_Medio-1'
model = smf.ols(formula=function, data=df).fit()
print(model.summary())

                              OLS Regression Results
==================================================================================
Dep. Variable:     LimitedoChequeEspecial   R-squared:                       0.842
Model:                                OLS   Adj. R-squared:                  0.831
Method:                     Least Squares   F-statistic:                     77.92
Date:                    Sat, 08 Jun 2024   Prob (F-statistic):           1.23e-17
Time:                            11:50:27   Log-Likelihood:                -442.00
No. Observations:                      48   AIC:                             892.0
Df Residuals:                          44   BIC:                             899.5
Df Model:                               3
Covariance Type:                nonrobust
=========================================================================================================
                                            coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------------------
Escolaridade_Fundamental_Medio[False]   123.4312   1404.926      0.088      0.930   -2708.011    2954.873
Escolaridade_Fundamental_Medio[True]  -2321.6598    996.379     -2.330      0.024   -4329.730    -313.590
Salario                                   0.5171      0.045     11.524      0.000       0.427       0.607
LimitedeCreditoImediato                   0.7322      0.407      1.801      0.079      -0.087       1.552
==============================================================================
Omnibus:                        2.831   Durbin-Watson:                   1.957
Prob(Omnibus):                  0.243   Jarque-Bera (JB):                1.912
Skew:                           0.257   Prob(JB):                        0.384
Kurtosis:                       3.831   Cond. No.                     6.34e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 6.34e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [43]:
df['Previsto'] = model.predict()

In [44]:
df.head()

,Idade,RendimentoTotal,Salario,LimitedeCreditoImediato,LimitedoChequeEspecial,Escolaridade_Fundamental_Medio,Escolaridade_Superior_Pos,Previsto
0,70,10736,5214,400,500,True,False,667.168325
1,68,5000,5000,380,600,True,False,541.873639
2,44,5800,5800,500,800,True,False,1043.384525
3,72,4300,4300,2000,1000,True,False,1366.076106
4,75,4400,4400,3000,1000,True,False,2149.970256